* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.notes-application {
  width: 600px;
  margin: 0 auto;
}

/*form styles*/
.notes-form {
  text-align: center;
  padding: 10px;
  border: 1px solid darkgrey;
}
.notes-form-textarea {
  width: 500px;
}
/**/
.notes-list {
  display: flex;
  flex-wrap: wrap;
}

/*note styles*/
.notes-note {
  display: inline-block;
  position: relative;
  width: 200px;
  min-height: 50px;
  border: 1px solid darkgrey;
  padding: 20px 10px;
}
.note-text {

}
.note-delete-button {
  position: absolute;
  top: 0;
  right: 0;
}

/*main-bar*/
.main-bar {
  position: relative;
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}
.main-bar-refresh {
  position: absolute;
  top: 0;
  right: 0;
}
